@layer theme {
	:root {
		@variant light {
			--background: oklch(0.9911 0 0);
			--foreground: oklch(0.2046 0 0);
		}
		@variant dark {
			--background: oklch(0.1822 0 0);
			--foreground: oklch(0.9288 0.0126 255.5078);
		}
	}
}
