@import "./colors.css";

@theme inline {
	--font-sans: Outfit, sans-serif;
	--font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
	--font-mono: monospace;
	--radius: 0.5rem;
	--shadow-x: 0px;
	--shadow-y: 1px;
	--shadow-blur: 3px;
	--shadow-spread: 0px;
	--shadow-opacity: 0.17;
	--shadow-color: #000000;
	--shadow-2xs: 0px 1px 3px 0px hsl(0 0% 0% / 0.09);
	--shadow-xs: 0px 1px 3px 0px hsl(0 0% 0% / 0.09);
	--shadow-sm:
		0px 1px 3px 0px hsl(0 0% 0% / 0.17), 0px 1px 2px -1px hsl(0 0% 0% / 0.17);
	--shadow:
		0px 1px 3px 0px hsl(0 0% 0% / 0.17), 0px 1px 2px -1px hsl(0 0% 0% / 0.17);
	--shadow-md:
		0px 1px 3px 0px hsl(0 0% 0% / 0.17), 0px 2px 4px -1px hsl(0 0% 0% / 0.17);
	--shadow-lg:
		0px 1px 3px 0px hsl(0 0% 0% / 0.17), 0px 4px 6px -1px hsl(0 0% 0% / 0.17);
	--shadow-xl:
		0px 1px 3px 0px hsl(0 0% 0% / 0.17), 0px 8px 10px -1px hsl(0 0% 0% / 0.17);
	--shadow-2xl: 0px 1px 3px 0px hsl(0 0% 0% / 0.43);
	--tracking-normal: 0.025em;
	--spacing: 0.25rem;
}
