@import "./colors.css";

@theme inline {
	--font-sans: Outfit, sans-serif;
	--font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
	--font-mono: monospace;
	--radius: 0.5rem;
	--tracking-normal: 0.025em;
	--spacing: 0.25rem;
	--spacing-hairline: hairlineWidth();
}
